.main {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url("imges/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* For the blinking effect */
@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animate-blink {
    display: inline-block;
    width: 12px;
    /* Adjust the size of the dot */
    height: 12px;
    background-color: #ef4444;
    /* Red color */
    border-radius: 50%;
    /* Make it a circle */
    animation: blink 1s infinite;
    /* Blinking animation */
}
/*! nav responsive start */
@media only screen and (min-width: 768px) and (max-width:1023px){
    
    .meccaTv_cus,.peaceTv_cus {
        width: 146px;
        font-size: 16px;
    }
}
@media only screen and (min-width: 768px) and (max-width:840px){
    .radiobtn_cus {
        width: 225px;
        margin-left: 6px;
    }
}
@media only screen and (min-width: 768px) and (max-width:768px){
    .nav_cus {
        height: 106px !important;
    }
}
@media only screen and (max-width: 768px) {
    .nav_cus {
        height: 218px;
        flex-direction: column;
        
        
    }
    .media_btn {
        margin-top: 15px;
        
    }
    
}
@media only screen and (min-width:496px) and (max-width: 562px){
   
        .radiobtn_cus {
            padding : 10px;
            
        }
}
@media only screen and (max-width: 767px){
    .media_btn {
        gap: 10px;
    }
}
@media only screen and (max-width: 609px){
    .media_btn {
        flex-direction: column;
        align-items: start !important;
    }
    .radiobtn_cus, .peaceTv_cus, .meccaTv_cus {
        width: 260px !important;
        
    }
    .nav_cus {
        width: 360px;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (min-width: 610px) and (max-width: 767px){
    .nav_cus {
        height: 119px !important;
        align-items: center;
        justify-content: center;
    }
}