.main {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url("imges/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.nav_cus {
    height: 65px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* For the blinking effect */
@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animate-blink {
    display: inline-block;
    width: 12px;
    /* Adjust the size of the dot */
    height: 12px;
    background-color: #ef4444;
    /* Red color */
    border-radius: 50%;
    /* Make it a circle */
    animation: blink 1s infinite;
    /* Blinking animation */
}
/*! nav responsive start */
@media only screen and (min-width: 768px) and (max-width:1023px){
    
    .meccaTv_cus,.peaceTv_cus {
        width: 146px;
        font-size: 16px;
    }
}
@media only screen and (min-width: 768px) and (max-width:840px){
    .radiobtn_cus {
        width: 225px;
        margin-left: 6px;
    }
}
@media only screen and (min-width: 768px) and (max-width:768px){
    .nav_cus {
        height: 106px !important;
    }
}
@media only screen and (max-width: 768px) {
    .nav_cus {
        height: 229px;
        flex-direction: column;
        
    }
    .media_btn {
        margin-top: 15px;
    }
    
}
@media only screen and (min-width:496px) and (max-width: 562px){
   
        .radiobtn_cus {
            padding : 10px;
        }
}
@media only screen and (max-width: 767px){
    .media_btn {
        gap: 10px;
    }
}
@media only screen and (max-width: 609px){
    .media_btn {
        flex-direction: column;
        align-items: start !important;
    }
    .radiobtn_cus, .peaceTv_cus, .meccaTv_cus {
        width: 260px !important;
        
    }
    .nav_cus {
        width: 335px;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 0 1px 12px rgba(0, 0, 0, 0.10);
        border: 0px solid rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .main {
        padding-top: 15px;
    }
    .radiobtn_cus, .peaceTv_cus  span:nth-child(2), .meccaTv_cus span:nth-child(2), .peaceTv_cus, .meccaTv_cus {
        color: white !important;
    }
}
@media only screen and (min-width: 610px) and (max-width: 767px){
    .nav_cus {
        height: 119px !important;
        align-items: center;
        justify-content: center;
    }
}

/* marqure text start */
@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}
#radioText {
    display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        transition: all 0.5s ease;
}
#radioBTN {
    width: 250px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.marquee-text {
    animation: marquee 5s linear infinite;
}
#playPauseBtn {
    width: 142px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    height: 100%;
    padding: 0 8px;
    background-color: #3B82F6;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    transition: all 0.3s ease;
    z-index: 1;
}
/* for tvone start */
